.s-colors
  h2
    margin-bottom: 15px

.colors-wrap
  display: flex
  justify-content: space-between

.colors-content
  width: 425px
  font-size: 21px

  p
    margin-bottom: 45px

.colors-container
  width: calc(100% - 490px)

.colors-items-wrap
  display: flex
  margin-bottom: 80px
  flex-wrap: wrap

.color-item
  font-size: 19px
  width: calc(33.333333% - 25px)
  margin-right: 37.5px
  display: flex
  align-items: center
  margin-bottom: 55px
  &:nth-child(3n)
    margin-right: 0
  &-color
    width: 100px
    height: 100px
    border-radius: 50%
    margin-right: 8px
  &-desc
    width: calc(100% - 108px)

.colors-img-1
  margin-bottom: 45px
  img
    display: inline-block
    max-width: 33.33333%

.colors-img-2
  margin-bottom: -100px
  img
    display: inline-block
    margin-right: 15px

.colors-img-double
  position: relative
  z-index: 5
  &:nth-child(2)
    z-index: 4
    top: -40px
  &:nth-child(3)
    z-index: 3
    top: -80px
  &:nth-child(4)
    z-index: 2
    top: -120px