@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

  .monochrome-content
    width: 60%
    padding-right: 30px

  .monochrome-download
    width: 40%

  .guards-content
    width: 60%
    padding-right: 100px

  .guards-img
    width: 40%

  .logo-download
    font-size: 20px

  .s-audience
    h2
      margin-bottom: 30px
    .container
      top: 0


  .graph-item
    width: calc(33.33333% - 40px)
    &-level
      font-size: 20px

  body
    font-size: 18px
  h2
    font-size: 28px

  .mnu-line
    font-size: 16px

  .topline-links
    a
      margin-left: 40px
    .svg
      height: 30px

  .hamburger-btn, .hamburger-btn:after, .hamburger-btn:before
    width: 40px
    height: 3px
  .hamburger-btn:before
    top: -8px
  .hamburger-btn:after
    bottom: -8px
  .hamburger-label
    font-size: 14px
    margin-top: 14px

  .hamburger-wrap
    width: 120px
    height: 120px

  .fashion-content
    width: 60%

  .fashion-wrap
    img
      width: 40%
      top: 0

  .s-first
    &.spaced
      padding-top: 91px

// ≥992px
+media-breakpoint-down(md)

  .s-monochrome
    padding-top: 50px

  .monochrome-wrap
    flex-direction: column

  .monochrome-content
    width: 100%
    padding-right: 0

  .monochrome-download
    width: 100%
    text-align: center
    padding-top: 50px


  .guards-content
    padding-top: 0
    padding-right: 30px
    h2
      margin-bottom: 20px

  .logo-wrap
    flex-direction: column
    &>div
      width: 100%

  .logo-download
    margin-top: 30px
    text-align: center

  .graph-item
    &-desc
      padding-left: 10px
    &-level
      font-size: 18px
      margin-bottom: 10px
      span
        position: relative
        top: 3px
        margin-right: 5px

  .main-mnu
    display: none!important

  .s-fashion
    padding: 70px 0

  .fashion-content
    width: 100%

  .fashion-wrap
    img
      max-width: 400px
      margin-left: auto
      margin-right: auto
      width: 100%
      margin-bottom: 30px

  .intro-decor-1
    left: -100px

  .intro-label
    width: 180px
    height: 180px
    font-size: 34px

  .intro-content
    width: calc(100% - 230px)

  .intro-wrap
    padding-left: 0
    h3
      font-size: 24px


// ≥768px
+media-breakpoint-down(sm)

  .guards-wrap
    flex-direction: column

  .guards-content
    width: 100%
    padding-right: 0
    margin-bottom: 30px

  .guards-img
    width: 100%

  .s-logo
    padding: 50px 0
    h2
      margin-bottom: 30px

  .logo-img
    margin-bottom: 40px

  .graphs-wrap
    flex-direction: column
    margin-bottom: 0

  .graph-item
    width: 100%
    margin-bottom: 50px
    margin-left: 0
    margin-right: 0
    &-img
      img
        margin-left: auto
        margin-right: auto
    &-desc
      padding-left: 40%



  .intro-content
    width: 100%

  .intro-label
    display: none

  .intro-decor
    display: none

  .first-wrap
    padding: 80px 0

  .topline-links
    a
      margin-left: 30px
      span
        display: none

// ≥480px
+media-breakpoint-down(xs)

  .monos-container
    flex-wrap: wrap
    img
      width: 100%

  .download-link
    width: 46px
    height: 46px
    font-size: 14px

  .graph-item
    &-desc
      padding-left: 35%

  .main-mnu-wrap
    width: 100%


@media (max-width: 390px)

  .intro-wrap
    padding: 60px 0

  h2
    font-size: 24px

  body
    font-size: 16px

  .intro-wrap
    h3
      font-size: 20px


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)
  .main-mnu-wrap
    &.active
      background-color: $accent-green
      z-index: 1001
      .hamburger-wrap
        background-color: #fff
        color: $text
      .hamburger-btn, .hamburger-btn:before, .hamburger-btn:after
        background-color: $text
      .main-mnu
        top: 100%

  #page-container
    &.active
      &:before
        display: block
        z-index: 1000
      .mnu-line
        background-color: rgba(#fff, .9)
        z-index: 1001
        position: fixed
        left: 0
        top: 0
        width: 100%

// ≤1200px
+media-breakpoint-up(xl)
